@import "../../../styles.scss";

.add-student {
  position: absolute;
  top: 20px;
  right: 0;
  width: 20rem;
  height: 15rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--mustard);

  .add-student-title {
    display: flex;
    align-content: center;
    justify-content: center;

    .add-student-close {
      cursor: pointer;
    }
  }

  .add-student-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;

    width: 80%;
    margin: 0 auto;
    label {
      display: flex;
      flex-direction: column;
    }

    .add-title {
      padding-top: 2rem;
    }

    input {
      width: 100%;
      height: 2.5rem;
      padding: 0 0.7rem;
    }
    .add-submit {
      float: right;
    }
  }
}
